*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px;
  }
}
.form-control{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
// Heaeder
#header{    
    background-color: #ced4da;
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        div{
            flex: 1 1 auto;
        }
        .header__right{
            text-align: end;
        }
        .header__right{
            .search{
                text-align: end;
                position: relative;
                input{
                    width: 100%;
                }
                .sugesstion{
                    padding-left: 0;
                    list-style: none;
                    position: absolute;
                    text-align: left;
                    width: 100%;
                    background-color: #f5f5f5;
                    top: 25px;
                    li{
                        padding-left: 10px;
                        a{
                            color:  #212529;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
.load__more{
    text-align: center;
}
.listing{
    list-style: none;
    padding-left: 0;   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    li{
      flex: 1 1 18%;
        text-align: center;
        a{
            text-decoration: none;
            color: #212529;
        }
    }
  .card{
    background-color: #f5f5f5;
    h4{
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }
}

#detail{
  .list__img{
    display: flex;
    list-style: none;
    padding-left: 0;
    gap: 10px;
    li{
      img{
        border-radius: 100px;
        background-color: antiquewhite;
      }
    }
  }
  
}